#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button {
  margin: 7px;
  opacity: 1;
  transition: all 1s ease-out;
}

.button.selected {
  border-color: blue;
}

.button.selected.correct {
  border-color: #66cc99;
  opacity: 0;
}

.button.incorrect {
  border-color: red;
}

/* otp-verification */
input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  margin: 5px;
}

/* Progress Bars */
.progress-bars button {
  margin: 0 10px;
}

.progress-bars .bar-container {
  width: 400px;
  height: 4px;
  background-color: lightgray;
  margin: 10px 0;
}

.progress-bars .bar-container .bar-contents {
  background-color: green;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition-property: transform;
  transition-timing-function: linear;
  transition-duration: 2000ms;
}

.progress-bars .bar-container .bar-filled {
  transform: scaleX(1);
}


/* File Explorer */

.parentContainer {
  text-align: left;
}

.parentContainer .folder {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.addInput {
  display: grid;
}

.addInput input {
  width: 180px;
  height: 20px;
  text-align: left;
  font-size: 15px;
}